h1 {
    font-weight: bolder;
}

h4 {
    font-weight: bolder;
}

p {
    font-family: cursive;
}

body {
    background-color: gainsboro;
}

.form-control {
    border: solid rgba(0, 0, 0, 0.318);
}

.form-check-input {
    border: solid rgba(0, 0, 0, 0.318);
}

.card {
    height: 270px;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.797);
}

.bt-importante {
    border-radius: 0%;
    border-style: none;
    background-color: rgba(235,112,97,255)
}

.bt-no-importante {
    border-radius: 0%;
    border-style: none;
    background-color: rgba(255,254,205,255)
}



