h1 {
    font-weight: bolder;
}

body {
    background-color: gainsboro;
}

.form-control {
    border: solid rgba(0, 0, 0, 0.318);
}

.form-check-input {
    border: solid rgba(0, 0, 0, 0.318);
}

.card {
    height: 250px;
}

.bt-importante {
    border-radius: 0%;
    border-style: none;
    background-color: rgba(235,112,97,255)
}

.bt-no-importante {
    border-radius: 0%;
    border-style: none;
    background-color: rgba(255,254,205,255)
}



